In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('2019_nCoV_20200121_20200127.csv')

In [4]:
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,1/27/2020 20:30,2714.0,NaN,47.0,100.0
1,Zhejiang,Mainland China,1/27/2020 20:30,173.0,NaN,1.0,NaN
2,Henan,Mainland China,1/27/2020 20:30,168.0,NaN,NaN,1.0
3,Guangdong,Mainland China,1/27/2020 20:30,151.0,NaN,4.0,NaN
4,Chongqing,Mainland China,1/27/2020 20:30,132.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
561,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
562,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
563,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
564,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
565,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [13]:
filt=input("Enter the column name to be sorted- ")
if(filt =='Province/State'):
    df.sort_values(by='Province/State', inplace=True)
if(filt=='Country/Region'):
    df.sort_values(by='Country/Region', inplace=True)
if(filt=='Confirmed'):
    df.sort_values(by='Confirmed', inplace=True)

Enter the column name to be sorted- Province/State

In [14]:
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
423,Anhui,Mainland China,1/24/2020 12:00 AM,15.0,4.0,NaN,NaN
205,Anhui,Mainland China,1/26/2020 11:00 AM,60.0,4.0,NaN,NaN
501,Anhui,Mainland China,1/22/2020 12:00,1.0,4.0,NaN,NaN
157,Anhui,Mainland China,1/26/2020 23:00,70.0,NaN,NaN,NaN
547,Anhui,Mainland China,1/21/2020,NaN,3.0,NaN,NaN
...,...,...,...,...,...,...,...
537,NaN,Thailand,1/22/2020 12:00,2.0,NaN,NaN,NaN
538,NaN,South Korea,1/22/2020 12:00,1.0,NaN,NaN,NaN
562,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
563,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
564,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN