In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('2019_nCoV_20200121_20200127.csv')

In [4]:
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,1/27/2020 20:30,2714.0,NaN,47.0,100.0
1,Zhejiang,Mainland China,1/27/2020 20:30,173.0,NaN,1.0,NaN
2,Henan,Mainland China,1/27/2020 20:30,168.0,NaN,NaN,1.0
3,Guangdong,Mainland China,1/27/2020 20:30,151.0,NaN,4.0,NaN
4,Chongqing,Mainland China,1/27/2020 20:30,132.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
561,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
562,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
563,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
564,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
565,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [6]:
df.shape

(566, 7)

In [10]:
df.dropna(axis='columns', how='any')

     Country/Region      Last Update
0    Mainland China  1/27/2020 20:30
1    Mainland China  1/27/2020 20:30
2    Mainland China  1/27/2020 20:30
3    Mainland China  1/27/2020 20:30
4    Mainland China  1/27/2020 20:30
..              ...              ...
561  Mainland China        1/21/2020
562           Japan        1/21/2020
563        Thailand        1/21/2020
564     South Korea        1/21/2020
565   United States        1/21/2020

[566 rows x 2 columns]

In [16]:
m1= df['Confirmed'].mean()
m2= df['Suspected'].mean()
m3= df['Recovered'].mean()
m4= df['Death'].mean()

In [17]:
df['Confirmed'].fillna(m1, inplace=True)
df['Suspected'].fillna(m2, inplace=True)
df['Recovered'].fillna(m3, inplace=True)
df['Death'].fillna(m4, inplace=True)

In [18]:
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,1/27/2020 20:30,2714.000000,22.613636,47.000000,100.0
1,Zhejiang,Mainland China,1/27/2020 20:30,173.000000,22.613636,1.000000,12.3
2,Henan,Mainland China,1/27/2020 20:30,168.000000,22.613636,7.253521,1.0
3,Guangdong,Mainland China,1/27/2020 20:30,151.000000,22.613636,4.000000,12.3
4,Chongqing,Mainland China,1/27/2020 20:30,132.000000,22.613636,7.253521,12.3
...,...,...,...,...,...,...,...
561,Heilongjiang,Mainland China,1/21/2020,43.519553,1.000000,7.253521,12.3
562,NaN,Japan,1/21/2020,1.000000,22.613636,7.253521,12.3
563,NaN,Thailand,1/21/2020,2.000000,22.613636,7.253521,12.3
564,NaN,South Korea,1/21/2020,1.000000,22.613636,7.253521,12.3
565,Washington,United States,1/21/2020,1.000000,22.613636,7.253521,12.3

In [24]:
df.to_csv ('new dataframe.csv')